* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header Style */

.site_header {
    position: fixed;
}

nav {
    width: 100%;
    padding: 0 20px;
}

.navbar_sx, .navbar_dx {
    line-height: 60px;
}

.navbar_sx a {
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    vertical-align: middle;
}

.navbar_dx {
    float: right;
}

.navbar_dx a {
    margin-left: 40px;
}

.button {
    background-color: #0061FF;
    padding: 5px 20px;
    color: white;
}