* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 1440px;
}

/* Header style */

nav {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 2;
    font-size: .9rem;
    border-bottom: 2px solid lightgray;
}

.navbar_sx, .navbar_dx {
    line-height: 60px;
}

.navbar_sx {
    float: left;
}

.navbar_sx a {
    float: left;
    transition: all 0s linear;
}

.u {
    height: 58px;
}

.u:hover {
    border-bottom: 2px solid black;
}

.space {
    float: left;
    height: 60px;
    width: 40px;
}

.space_rx {
    float: right;
    height: 60px;
    width: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.logo_drop {
    vertical-align: middle;
}

.navbar_dx {
    float: right;
    position: relative;
}

.navbar_dx a {
    float: right;
    transition: all 0s linear;
}

.button {
    background-color: #0061FF;
    padding: 5px 20px;
    color: white;
    transition: all 0.2s linear;
}

.button:hover {
    filter: brightness(130%);
}

.tendina {
    position: relative;
    display: inline-block;
}

.tendina_opzioni {
    padding-top: .5rem;
    display: none;
    z-index: 1;
    min-width: 180px;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0px;
    font-size: .8rem;
}

.tendina_opzioni a {
    padding: 5px 1rem;
    float: left;
    line-height: 2rem;
    transition: all 0s linear;
    width: 100%;
}

.tendina_opzioni a:hover {
    background-color: rgba(211, 211, 211, 0.589);
}

.tendina:hover .tendina_opzioni {
    display: block;
}

#start {
    line-height: 20px;
    position: relative;
    top: 14px;
}

/* Main style */

/* Hero image style */

.hero_image {
    padding-top: 170px;
    background-color: #b4d0e7;
}

.hero_container {
    width: 78%;
    margin: auto;
    font-size: 1rem;
}

.subcont_hero {
    position: relative;
    margin-top: 2rem;
}

h1 {
    font-size: 4.3rem;
}

.its_dropbox {
    width: 360px;
    padding-bottom: 2rem;
}

.deny {
    padding-top: 1rem;
    font-size: .8rem;
}

.arrow {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    font-size: 2rem;
}

.jumbo {
    width: 740px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Plans style */

.main_container {
    padding-top: 150px;
    width: 66%;
    margin: auto;
    font-size: 0.90rem;
}

#scroll {
    padding-top: 50px;
}

h2 {
    font-size: 2.9rem;
}

h3 {
    font-size: 1.5rem;
}

.bill_type {
    padding-top: 3rem;
}

.circle {
    border-radius: 100%;
    color: transparent;
    font-size: 7px;
    vertical-align: middle;
}

.check {
    border: 4px solid #0061FF;
}

.yearly {
    padding-left: 1rem;
}

.uncheck {
    border: 1px solid lightgray;
    font-size: 11px;
}

.plan {
    width: 30%;
    margin-top: 2rem;
    float: left;
    border: 2px solid lightgray;
    font-size: .8rem;
}

.main_plan {
    width: 80%;
    margin: auto;
}

.mid {
    margin: 0 5%;
    margin-top: 2rem;
}

.head {
    text-align: center;
    border-bottom: 2px solid lightgray;
    line-height: 2rem;
    vertical-align: middle;
    font-size: .8rem;
}

.type, .storage, .functions, .buynow {
    padding-top: 2rem;
}

.price {
    padding-top: 1rem;
}

.month {
    padding-top: .5rem;
    font-size: .8rem;
    color: gray;
}

.users {
    padding-top: 3.5rem;
}

.buynow, .blue {
    font-size: .8rem;
}

.blue {
    text-decoration: underline;
    color: #0665ff;
}

.functions {
    padding-bottom: 3.5rem;
}

.hr {
    height: 2rem;
    width: 50px;
    margin-bottom: 3rem;
    border-bottom: 2px solid lightgray;
}

.plans ul {
    padding-bottom: 7rem;
}

.features_list li:before {
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #0665ff;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
}

.features_list li {
    padding-top: 1.5rem;
    padding-left: 18px;
    list-style: none;
}

/* Enterprise style */

.enterprise {
    margin-top: 3rem;
    border: 2px solid lightgray;
}

#sell_office {
    position: absolute;
    top: 2rem;
    right: -20px;
    padding: 5px 50px;
}

.ent_cont {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    position: relative;
}

.contact_sells {
    padding-top: 1.5rem;
}

.solutions {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* Partner style */

.partner {
    padding-top: 8rem;
    padding-bottom: 7rem;
}

.partner_img {
    width: 50%;
    float: left;
}

.partner_text {
    width: 50%;
    float: left;
    padding: 3rem;
}

.partner_p {
    padding: 2rem 0;
}

#find_partner {
    background-color: white;
    border: 1px solid black;
    color: black;
    transition: all 0.2s linear;
}

#find_partner:hover, #freetrial:hover {
    filter: brightness(.9);
}

/* Operations */

.operations {
    padding-bottom: 7rem;
}

.operations>h2 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.tool {
    width: 30%;
    float: left;
    padding-bottom: 5rem;
}

.middle {
    margin: 0 5%;
}

.tool img {
    width: 100%;
}

.tool h3 {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
}

/* Business_team style */

.business_teams>h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    width: 56%;
}

.big_space {
    width: 100%;
    height: 780px;
}

.business_container {
    width: 100%;
    position: absolute;
    top: 2rem;
    background-color: #f5f5f5;
    top: 4512px;
    left: 0;
}

.teams_sx {
    float: left;
    width: 30%;
    background-color: cadetblue;
}

.teams_dx {
    float: left;
    width: 30%;
    background-color: cadetblue;
}

.designit {
    background-color: #A2D39B;
}

.designit img, .asu img, .uf img, .topps img, .bycicle img, .hearst img, .lonely img, .clear img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(199deg) brightness(105%) contrast(100%);
}

.item {
    width: 50%;
    float: left;
    position: relative;
    padding: 7rem;
}

.bordered {
    width: 100%;
    height: 100%;
    border: 10px solid #D0E9CD;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
}

.asu {
    background-color: #61082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.teams_mid {
    float: left;
    box-sizing: content-box;
    width: 40%;
    margin: auto;
}

.mid_cont {
    padding: 2.5rem;
}

.mid_cont>img {
    width: 26%;
}

.author {
    padding-top: 2.5rem;
}

.bycicle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.clear {
    background-color: #FFD830;
}

.carry_business {
    width: 100%;
    background-color: #B4D0E7;
    float: left;
}

.carry_container {
    width: 66%;
    margin: auto;
    padding: 7rem 0;
    position: relative;
}

.carry_container>h2 {
    font-size: 2.5rem;
    color: #61082B;
    width: 50%;
}

#freetrial {
    background-color: white;
    border: 1px solid black;
    color: black;
    position: absolute;
    right: 0;
    top: 7rem;
    transition: all 0.2s linear;
}

/* Faq style */

.faq {
    margin: 8rem 0;
}

.faq>h3 {
    padding-bottom: 2rem;
    border-bottom: 2px solid lightgray;
}

.question {
    box-sizing: content-box;
    position: relative;
    padding: 2rem 0;
    border-bottom: 2px solid lightgray;
    transition: all 0.2s linear;
}

.question a {
    font-weight: bold;
}

.answer {
    padding-top: 2rem;
    display: none;
    font-size: .8rem;
    color: grey;
}

.question:hover .answer {
    display: block;
}

.question:hover .fa-angle-down {
    transform: rotate(.5turn);
}

.fa-angle-down {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    transition: all 0s linear;
}

.question>span {
    font-weight: bold;
}

/* Footer style */

.site_footer {
    padding-top: 6rem;
    padding-bottom: 8rem;
    background-color: black;
    color: white;
    font-size: .8rem;
}

.footer_container {
    width: 78%;
    margin: auto;
    position: relative;
}

.colomn {
    float: left;
    width: 20%;
}

.colomn h4 {
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.footer_list li {
    padding-top: 1rem;
    list-style: none;
    transition: all 0s linear;
}

.footer_list li:hover {
    text-decoration: underline;
}

.footer_list {
    padding-bottom: 6rem;
}

li a {
    color: white;
}

.language {
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    border-top: 2px solid lightgray;
    float: left;
    position: absolute;
    bottom: -130px;
    left: 0;
    color: white;
}