* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header style */

.site_header {
    font-size: 1rem;
}

nav {
    width: 100%;
    padding: 0 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 2;
}

.navbar_sx, .navbar_dx {
    line-height: 60px;
}

.navbar_sx a {
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    vertical-align: middle;
}

.navbar_dx {
    float: right;
}

.navbar_dx a {
    margin-left: 40px;
}

.button {
    background-color: #0061FF;
    padding: 5px 20px;
    color: white;
    font-size: 1rem;
}

/* Main style */

/* Hero image style */

.hero_image {
    padding-top: 100px;
    background-color: #b4d0e7;
}

.hero_container {
    width: 78%;
    margin: auto;
    font-size: 1rem;
}

.subcont_hero {
    position: relative;
    margin-top: 2rem;
}

h1 {
    font-size: 4.3rem;
}

.its_dropbox {
    width: 360px;
    padding-bottom: 2rem;
}

.deny {
    padding-top: 1rem;
    font-size: .75rem;
}

.arrow {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    font-size: 2rem;
}

.jumbo {
    width: 740px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Plans style */

.main_container {
    padding-top: 200px;
    width: 66%;
    margin: auto;
    font-size: 0.95rem;
}

h2 {
    font-size: 2.9rem;
}

h3 {
    font-size: 1.5rem;
}

.bill_type {
    padding-top: 3rem;
}

.circle {
    border-radius: 100%;
    color: transparent;
    font-size: 7px;
    vertical-align: middle;
}

.check {
    border: 4px solid #0061FF;
}

.yearly {
    padding-left: 1rem;
}

.uncheck {
    border: 1px solid lightgray;
    font-size: 11px;
}

.plan {
    width: 30%;
    margin-top: 2rem;
    float: left;
    border: 2px solid lightgray;
}

.main_plan {
    width: 80%;
    margin: auto;
}

.mid {
    margin: 0 5%;
    margin-top: 2rem;
}

.head {
    text-align: center;
    border-bottom: 2px solid lightgray;
    line-height: 2rem;
    vertical-align: middle;
}

.type, .storage, .functions, .buynow {
    padding-top: 2rem;
}

.price {
    padding-top: 1rem;
}

.month {
    padding-top: .5rem;
}

.users {
    padding-top: 3.5rem;
}

.blue {
    text-decoration: underline;
    color: #0665ff;
}

.functions {
    padding-bottom: 3.5rem;
}

.hr {
    height: 2rem;
    width: 50px;
    margin-bottom: 3rem;
    border-bottom: 2px solid lightgray;
}

ul {
    padding-bottom: 7rem;
}

li {
    padding-top: 1.5rem;
    list-style: none;
}

.fa-check {
    color: #0665ff;
}

/* Enterprise style */

.enterprise {
    margin-top: 3rem;
    border: 2px solid lightgray;
}

#sell_office {
    position: absolute;
    top: 2rem;
    right: -20px;
    padding: 5px 50px;
}

.ent_cont {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    position: relative;
}

.contact_sells {
    padding-top: 1.5rem;
}

.solutions {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* Partner style */

.partner {
    padding-top: 8rem;
    padding-bottom: 7rem;
}

.partner_img {
    width: 50%;
    float: left;
}

.partner_text {
    width: 50%;
    float: left;
    padding: 3rem;
}

.partner_p {
    padding: 2rem 0;
}

#find_partner {
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* Operations */

.operations {
    padding-bottom: 10rem;
}

.operations>h2 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.tool {
    width: 30%;
    float: left;
    padding-bottom: 5rem;
}

.middle {
    margin: 0 5%;
}

.tool img {
    width: 100%;
}

.tool h3 {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
}

/* Business_team style */

.business_teams>h2 {
    font-size: 2.5rem;
    padding-bottom: 2rem;
    width: 56%;
}

.business_container {
    width: 98.9vw;
    position: relative;
    left: -258px;
    top: 2rem;
}

.teams_sx {
    float: left;
    width: 30%;
    background-color: cadetblue;
}

.teams_dx {
    float: left;
    width: 30%;
    background-color: cadetblue;
}

.designit {
    background-color: #A2D39B;
}

.designit img, .asu img, .uf img, .topps img, .bycicle img, .hearst img, .lonely img, .clear img {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(199deg) brightness(105%) contrast(100%);
}

.item {
    width: 50%;
    float: left;
    height: 50%;
    position: relative;
    padding: 7rem;
}

.asu {
    background-color: #61082B;
}

.uf {
    background-color: #0093CE;
}

.topps {
    background-color: #FF1C1C;
}

.teams_mid {
    float: left;
    width: 40%;
    background-color: #f5f5f5;
    padding: 2.5rem;
    padding-bottom: 7%;
}

.teams_mid img {
    width: 26%;
}

.cit {
    padding-bottom: 3rem;
}

.bycicle {
    background-color: #D5001F;
}

.hearst {
    background-color: #B4D0E7;
}

.lonely {
    background-color: #0D2481;
}

.clear {
    background-color: #FFD830;
}

.carry_business {
    width: 100%;
    background-color: #B4D0E7;
    float: left;
}

.carry_container {
    width: 66%;
    margin: auto;
    padding: 7rem 0;
    position: relative;
}

.carry_container>h2 {
    font-size: 2.5rem;
    color: #61082B;
    width: 50%;
}

#freetrial {
    background-color: white;
    border: 1px solid black;
    color: black;
    position: absolute;
    right: 0;
    top: 7rem;
}

/* Faq style */

.faq {
    margin: 8rem 0;
}

.faq>h3 {
    padding-bottom: 2rem;
    border-bottom: 2px solid lightgray;
}

.question {
    position: relative;
    padding: 2rem 0;
    border-bottom: 2px solid lightgray;
}

.fa-angle-down {
    font-size: 2rem;
    float: right;
}

.question>span {
    font-weight: bold;
}