* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header style */

.site_header {
    position: fixed;
    font-size: 1rem;
}

nav {
    width: 100%;
    padding: 0 20px;
}

.navbar_sx, .navbar_dx {
    line-height: 60px;
}

.navbar_sx a {
    padding-right: 40px;
}

a {
    color: black;
    text-decoration: none;
}

.logo {
    vertical-align: middle;
}

.navbar_dx {
    float: right;
}

.navbar_dx a {
    margin-left: 40px;
}

.button {
    background-color: #0061FF;
    padding: 5px 20px;
    color: white;
    font-size: 1rem;
}

/* Main style */

/* Hero image style */

.hero_image {
    padding-top: 100px;
    background-color: #b4d0e7;
}

.hero_container {
    width: 78%;
    margin: auto;
    font-size: 1rem;
}

.subcont_hero {
    position: relative;
    margin-top: 2rem;
}

h1 {
    font-size: 4.3rem;
}

.its_dropbox {
    width: 360px;
    padding-bottom: 2rem;
}

.deny {
    padding-top: 1rem;
    font-size: .75rem;
}

.arrow {
    padding-top: 1.5rem;
    padding-bottom: 6rem;
    font-size: 2rem;
}

.jumbo {
    width: 740px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Plans style */

.main_container {
    padding-top: 200px;
    width: 66%;
    margin: auto;
    font-size: 0.95rem;
}

h2 {
    font-size: 2.9rem;
}

h3 {
    font-size: 1.5rem;
}

.bill_type {
    padding-top: 3rem;
}

.circle {
    border-radius: 100%;
    color: transparent;
    font-size: 7px;
    vertical-align: middle;
}

.check {
    border: 4px solid #0061FF;
}

.yearly {
    padding-left: 1rem;
}

.uncheck {
    border: 1px solid lightgray;
    font-size: 11px;
}

.plan {
    width: 30%;
    margin-top: 2rem;
    float: left;
    border: 2px solid lightgray;
}

.main_plan {
    width: 80%;
    margin: auto;
}

.mid {
    margin: 0 5%;
    margin-top: 2rem;
}

.head {
    text-align: center;
    border-bottom: 2px solid lightgray;
    line-height: 2rem;
    vertical-align: middle;
}

.type, .storage, .functions, .buynow {
    padding-top: 2rem;
}

.price {
    padding-top: 1rem;
}

.month {
    padding-top: .5rem;
}

.users {
    padding-top: 3.5rem;
}

.functions {
    padding-bottom: 3.5rem;
}

.hr {
    height: 2rem;
    width: 50px;
    margin-bottom: 3rem;
    border-bottom: 2px solid lightgray;
}

ul {
    padding-bottom: 7rem;
}

li {
    padding-top: 1.5rem;
    list-style: none;
}

.fa-check {
    color: #0665ff;
}

/* Enterprise style */

.enterprise {
    margin-top: 3rem;
    border: 2px solid lightgray;
}

#sell_office {
    position: absolute;
    top: 2rem;
    right: -20px;
    padding: 5px 50px;
}

.ent_cont {
    width: 90%;
    margin: auto;
    padding-top: 2rem;
    position: relative;
}

.contact_sells {
    padding-top: 1.5rem;
}

.solutions {
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

/* Partner style */

.partner {
    padding-top: 8rem;
    padding-bottom: 7rem;
}

.partner_img {
    width: 50%;
    float: left;
}

.partner_text {
    width: 50%;
    float: left;
    padding: 3rem;
}

.partner_p {
    padding: 2rem 0;
}

#find_partner {
    background-color: white;
    border: 1px solid black;
    color: black;
}

/* Operations */

.operations h2 {
    font-size: 2.5rem;
    padding-bottom: 4rem;
}

.tool {
    width: 30%;
    float: left;
    padding-bottom: 5rem;
}

.middle {
    margin: 0 5%;
}

.tool img {
    width: 100%;
}

.tool h3 {
    font-size: 1.4rem;
    padding-bottom: 1.5rem;
}