* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 1440px;
}

/* Header style */

.site_header {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1;
    font-size: .9rem;
    margin: auto;
    border-bottom: 2px solid gray;
    filter: drop-shadow(2px 2px 1px grey);
}

.navbar {
    line-height: 60px;
    width: 75%;
    margin: auto;
    padding: 0 3rem;
}

.sx {
    text-align: left;
}

.mid {
    text-align: center;
}

.dx {
    text-align: right;
}

.part {
    float: left;
    width: 33.33%;
}

.u {
    padding-bottom: 18px;
}

.u:hover {
    border-bottom: 2px solid #0061FF;
}

a {
    color: #0061FF;
    text-decoration: none;
}

a img {
    vertical-align: middle;
}

.button {
    background-color: white;
    padding: 5px 20px;
    transition: all 0.2s linear;
    border-radius: 10px;
    border: 1px solid #0061FF;
    font-weight: bold;
}

.button:hover {
    filter: brightness(90%);
}

/* Main style */

.main_container {
    padding-top: 180px;
    width: 52%;
    margin: auto;
}

.login_right_container {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.login_image {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.head_form {
    padding-top: 10px;
    line-height: 20px;
}

.left {
    float: left;
    font-size: 20px;
    vertical-align: middle;
}

.right {
    float: right;
    font-size: 13px;
}

.link_blue {
    color: #0061FF;
}

.buttons {
    margin-top: 30px;
}

.logo_pos {
    position: relative;
}

.login_button {
    transition: all 0.2s linear;
    border-radius: 3px;
    color: white;
    width: 100%;
    text-align: center;
    line-height: 33px;
    display: block;
}

#google {
    background-color: #0061FF;
    border: 1px solid #0341a7;
}

.icon {
    position: absolute;
    padding: 0 10px;
    height: 34px;
}

#dx_border {
    border-right: 1px solid #0341a7;
}

#apple {
    margin-top: 20px;
    background-color: black;
}

.or {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: relative;
}

.line {
    border-bottom: 1px solid lightgray;
    width: 100%;
    position: relative;
    top: 12px;
}

.or span {
    background-color: white;
    position: relative;
    z-index: 1;
    padding: 0 5px;
}

.size {
    width: 100%;
    margin-bottom: 20px;
    line-height: 33px;
    border: 1px solid gray;
    border-radius: 3px;
    padding-left: 5px;
}

.login {
    margin-bottom: 10px;
    background-color: #2377ff;
    border: 1px solid #0341a7;
    border-radius: 3px;
    padding: 6px 15px;
    color: white;
    float: right;
}

.remember {
    float: left;
    vertical-align: middle;
    font-size: 14px;
}

#fpw {
    float: left;
    font-size: 14px;
}