* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    min-width: 1440px;
}

/* Header style */

.site_header {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: white;
    z-index: 1;
    font-size: .9rem;
    margin: auto;
    filter: drop-shadow(2px 2px 2px grey);
}

.navbar {
    line-height: 60px;
    width: 75%;
    margin: auto;
    padding: 0 3rem;
}

.sx {
    text-align: left;
}

.mid {
    text-align: center;
}

.dx {
    text-align: right;
}

.part {
    float: left;
    width: 33.33%;
}

.u {
    padding-bottom: 18px;
}

.u:hover {
    border-bottom: 2px solid #0061FF;
}

a {
    color: #0061FF;
    text-decoration: none;
}

a img {
    vertical-align: middle;
}

.button {
    background-color: white;
    padding: 5px 20px;
    transition: all 0.2s linear;
    border-radius: 10px;
    border: 1px solid #0061FF;
    font-weight: bold;
}

.button:hover {
    filter: brightness(90%);
}

/* Main style */

.main_container {
    padding-top: 180px;
    width: 52%;
    margin: auto;
}

.login_right_container {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.login_image {
    float: left;
    width: 45%;
    margin-right: 5%;
}

.head_form {
    padding-top: 10px;
    line-height: 20px;
}

.left {
    float: left;
    font-size: 20px;
    vertical-align: middle;
}

.right {
    float: right;
    font-size: 13px;
}

.link_blue {
    color: #0061FF;
    text-decoration: underline;
}